<!DOCTYPE html>
<html>
<head>
  <title>Xmas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "stylish-portfolio" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery-1.10.2" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "all">

<%= yield %>

<div>
</body>
</html>
